# Object file
\ZonePBDVR_Final\log_result\
\**\*.txt
/**/*.txt

\**\*.h5
/**/*.h5
\**\*.pyc
/**/*.pyc

*.o
*.doc
# Ada Library Information
*.ali
*.xml
#*.doc
#*.docx
.idea/**.xml
.idea/
idea/
*.xml
.idea/misc.xml
\**\*.csv
/**/*.csv


