# Object file
\ZonePBDVR_Final\log_result\
\**\*.txt
/**/*.txt

\**\*.h5
/**/*.h5
\**\*.pyc
/**/*.pyc

\**\*.doc
/**/*.doc

\**\*.docx
/**/*.docx

*.o

# Ada Library Information
*.ali
*.xml
.idea/**.xml
.idea/
idea/
*.xml
.idea/misc.xml
\**\*.csv
/**/*.csv


